{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">

          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link {% if not page %} active {% endif %}">{{ tab_general }}</a></li>
            <li class="nav-item"><a href="#tab-visits" data-bs-toggle="tab" title="Main page visits" class="nav-link {% if page %} active {% endif %}">{{ tab_visits }}</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-general" class="tab-pane {% if not page %} active {% endif %}">

              <div class="row mb-3">
                <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="module_testmodule_status" value="0"/>
                    <input type="checkbox" name="module_testmodule_status" value="1" id="input-status" class="form-check-input"{% if module_testmodule_status %} checked{% endif %}/>
                  </div>
                </div>
              </div>

            </div>

            <div id="tab-visits" class="tab-pane {% if page %} active {% endif %}">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <td style="width: 5%;" class="text-center">id</td>
                  <td class="text-center">created_at</td>
                </tr>
                </thead>
                <tbody>

                {% if visits %}
                  {% for visit in visits %}
                    <tr id="startup-row{{ visit.id }}">
                      <td class="text-center" style="width: 5%">{{ visit.id }}</td>
                      <td class="text-center">{{ visit.created_at }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="7">{{ text_no_results }}</td>
                  </tr>
                {% endif %}
                </tbody>
              </table>

              <div class="row">
                <div class="col-sm-6 text-start">{{ pagination }}</div>
              </div>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}